{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'menu-category-list'%}">Menu category</a></li>
                                    <li class="breadcrumb-item active">List</li>
                                </ol>
                            </div>
                            
                            <h4 class="page-title">Menu Categories</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="add_button" style="text-align: right;">
                                <a href="{% url 'menu-category-add' %}" class="btn btn-success btn-circle btn-lg">
                                    Add Category <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tags</th>
                                                <th>Category Name</th>
                                                <th>Icon</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                    
                                    
                                        <tbody>
                                            {% for category in menu_categories %}
                                            <tr>
                                                <td>{{ category.id }}</td>
                                                <td>{{ category.tags }}</td>
                                                <td>{{ category.categori_name }}</td>
                                                <td><img src="{{ category.icon.url }}" alt="{{ category.categori_name }}" width="50"></td>
                                                <td class="table-action">
                                                    <a href="{% url 'menu-category-edit' category.ctg_slug %}" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                                    <a href="{% url 'menu-category-delete' category.ctg_slug %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                    
                                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
