{% extends 'app/base.html' %}
{% load static %}

{% block css %}
    <!-- Add your CSS links here if needed -->
{% endblock %}

{% block content %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="j{% url 'index'%}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'service-list'%}">Services</a></li>
                                <li class="breadcrumb-item active">{% if form.instance.id %}Edit{% else %}Add{% endif %} Services</li>

                            </ol>
                        </div>
                        <h4 class="page-title">Edit Service</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" class="custom-form">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.non_field_errors }}
                    
                    <div class="mb-3">
                        <label for="{{ form.service_name.id_for_label }}" class="form-label">Service Name</label>
                        <input type="text" id="{{ form.service_name.id_for_label }}" class="form-control" name="{{ form.service_name.name }}" value="{{ form.service_name.value }}">
                        {{ form.service_name.errors }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="{{ form.icon.id_for_label }}" class="form-label">Icon</label>
                        <input type="file" id="{{ form.icon.id_for_label }}" class="form-control" name="{{ form.icon.name }}">
                        {{ form.icon.errors }}
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">Current Icon</label>
                        {% if form.instance.icon %}
                            <img src="{{ form.instance.icon.url }}" style="max-height: 200px; max-width: 200px;" alt="Current Icon" class="current-icon">
                        {% else %}
                            <p>No icon available</p>
                        {% endif %}
                    </div><br>
                    
                    <label for="{{ form.discriptions.id_for_label }}" class="form-label">Descriptions:</label>
                        <div class="form-group">
                            {{ form.discriptions }}
                            {{ form.discriptions.errors }}
                        </div>
                   
                    
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}
